/* Cepheus Engine SRD CSS
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  width: 100%;
  height: 40px;
  line-height: 40px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

nav[data-toggle='toc'] {
  top: 75px;
}

@media screen and (min-width: 1600px) {
  .navbar-nav .dropdown-menu {
    position: absolute;
  }
  .navbar-expand-custom {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  .navbar-expand-custom .navbar-nav {
    flex-direction: row;
  }
  .navbar-expand-custom .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
  }
  .navbar-expand-custom .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }
  .navbar-expand-custom .navbar-toggler {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .footer {
    display: none;
  }
  /* override stickyness so that the navigation does not follow scrolling */
  nav[data-toggle='toc'] {
    margin-bottom: 42px;
    position: static;
  }
  nav[data-toggle='toc'] .nav .nav {
    display: block;
  }
}

.dropdown-item:hover {
  background-color: #007bff;
  color: #ffffff;
}
#output {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size:1em;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 65px 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}


/* Fixes
-------------------------------------------------- */
h2::before {
  display: block;
  content: " ";
  margin-top: -75px;
  height: 75px;
  visibility: hidden;
  pointer-events: none;
}

h3::before {
  display: block;
  content: " ";
  margin-top: -75px;
  height: 75px;
  visibility: hidden;
  pointer-events: none;
}

